{% if menu_name %}
    <div id="menu">
        <h2>{{ menu_name }}</h2>
{% endif %}
    <ul>
        {% if child_item %}  {# Выход из рекурсии в этом блоке #}
            {% if request.path == item.href %}
                <li>
                    {% include "menu_item.html" with item=child_item child_item=child_item.child_item %}  {# Вход в рекурсию #}
                </li>
            {% else %}
                {% if item.hidden %}
                    <li class="hidden">
                        {% include "menu_item.html" with item=child_item child_item=child_item.child_item %}  {# Вход в рекурсию  #}
                    </li>
                {% else %}
                    <li>
                        {% include "menu_item.html" with item=child_item child_item=child_item.child_item %}  {# Вход в рекурсию  #}
                    </li>
                {% endif %}
            {% endif %}
        {% else %}
            {% for item in data %}
                {% if item.child_item %}
                    <ul>
                {% endif %}
                    {% if request.path == item.href %}
                        <li>
                            {% include "menu_item.html" with item=item child_item=item.child_item %}  {# Вход в рекурсию  #}
                        </li>
                    {% else %}
                        {% if item.hidden %}
                            <li class="hidden">
                                {% include "menu_item.html" with item=item child_item=item.child_item %}  {# Вход в рекурсию  #}
                            </li>
                        {% else %}
                            <li>
                                {% include "menu_item.html" with item=item child_item=item.child_item %}  {# Вход в рекурсию  #}
                            </li>
                        {% endif %}
                    {% endif %}
                {% if item.child_item %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
</ul>
{% if menu_name %}
    </div>
{% endif %}
