{% if item %}
{% if item.hidden and not request.build_absolute_uri == item.href %}
    <li class="hidden">
{% else %}
    {% if not request.build_absolute_uri == item.href %}
        <li>
    {% else %}
        <li class="current">
    {% endif %}
{% endif %}
        <span>
            {% if not request.build_absolute_uri == item.href %}
                <a href="{{ item.href }}" target="_blank">{{item.label}}</a>
            {% else %}
                {{item.label}}
            {% endif %}
        </span>
{% endif %}
{% if child_item %}
    <ul>
        {% include "menu.html" with child_item=child_item menu_name=None item=None  %}
    </ul>
{% endif %}
</li>
