{% load menu %}
{% if menu_name %}
    <div id="menu">
        <h2>{{ menu_name }}</h2>
        <ul>
{% endif %}
    {% if child_item %}  {# Выход из рекурсии в этом блоке #}
        {% if request.path == item.href %}
            <li>
                {% recursion_in child_item %}
            </li>
        {% else %}
            {% if item.hidden %}
                <li class="hidden">
                    {% recursion_in child_item %}
                </li>
            {% else %}
                <li>
                    {% recursion_in child_item %}
                </li>
            {% endif %}
        {% endif %}
    {% else %}
        {% for item in data %}
            {% if request.path == item.href %}
                <li>
                    {% recursion_in item %}
                </li>
            {% else %}
                {% if item.hidden %}
                    <li class="hidden">
                        {% recursion_in item %}
                    </li>
                {% else %}
                    <li>
                        {% recursion_in item %}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
   {% if menu_name %}
    </ul>
    </div>
{% endif %}
